@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

select,input ,textarea{
    border: 1px solid #a23c3c;
    outline-color: #77c1c3;
    border-radius: 4px;
}

.active{
    background-color: #374142;
    border-color: #446f70 ;
}